// Code generated by Fern. DO NOT EDIT.

package backtests

import (
	context "context"
	http "net/http"

	chroniclego "github.com/chronicle-labs-ai/chronicle-go"
	core "github.com/chronicle-labs-ai/chronicle-go/core"
	internal "github.com/chronicle-labs-ai/chronicle-go/internal"
	option "github.com/chronicle-labs-ai/chronicle-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	client.Backtests.GetBacktestsAvailability(
//	    context.TODO(),
//	)
func (c *Client) GetBacktestsAvailability(
	ctx context.Context,
	opts ...option.RequestOption,
) (*chroniclego.BacktestsAvailability, error) {
	response, err := c.WithRawResponse.GetBacktestsAvailability(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.ListBacktestJobsRequest{}
//	client.Backtests.ListBacktestJobs(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListBacktestJobs(
	ctx context.Context,
	request *chroniclego.ListBacktestJobsRequest,
	opts ...option.RequestOption,
) (*chroniclego.ListBacktestJobsResponse, error) {
	response, err := c.WithRawResponse.ListBacktestJobs(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns 202 after the durable job and its trials have been admitted.
//
// Example:
//
//	request := &chroniclego.CreateBacktestJobRequest{
//	    Name: "name",
//	    Recipe: &chroniclego.CreateBacktestJobRequestRecipe{
//	        Agents: []*chroniclego.CreateBacktestJobRequestRecipeAgentsItem{
//	            &chroniclego.CreateBacktestJobRequestRecipeAgentsItem{
//	                Hue: "hue",
//	                ID: "id",
//	                Label: "label",
//	                Notes: "notes",
//	            },
//	        },
//	        Data: &chroniclego.CreateBacktestJobRequestRecipeData{
//	            Kind: chroniclego.CreateBacktestJobRequestRecipeDataKindComposed,
//	            Scenarios: []*chroniclego.CreateBacktestJobRequestRecipeDataScenariosItem{
//	                &chroniclego.CreateBacktestJobRequestRecipeDataScenariosItem{
//	                    Count: 1,
//	                    ID: "id",
//	                    Kind: chroniclego.CreateBacktestJobRequestRecipeDataScenariosItemKindAdversarial,
//	                    Label: "label",
//	                },
//	            },
//	            Sources: []*chroniclego.CreateBacktestJobRequestRecipeDataSourcesItem{
//	                &chroniclego.CreateBacktestJobRequestRecipeDataSourcesItem{
//	                    Count: 1,
//	                    ID: "id",
//	                    Kind: chroniclego.CreateBacktestJobRequestRecipeDataSourcesItemKindProd,
//	                    Label: "label",
//	                },
//	            },
//	        },
//	        Graders: []*chroniclego.CreateBacktestJobRequestRecipeGradersItem{
//	            &chroniclego.CreateBacktestJobRequestRecipeGradersItem{
//	                ID: "id",
//	                Kind: chroniclego.CreateBacktestJobRequestRecipeGradersItemKindRubric,
//	                Label: "label",
//	                Source: chroniclego.CreateBacktestJobRequestRecipeGradersItemSourceProposed,
//	                Weight: chroniclego.CreateBacktestJobRequestRecipeGradersItemWeightLow,
//	            },
//	        },
//	        Mode: chroniclego.CreateBacktestJobRequestRecipeModeReplay,
//	        Name: "name",
//	    },
//	}
//	client.Backtests.CreateBacktestJob(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CreateBacktestJob(
	ctx context.Context,
	request *chroniclego.CreateBacktestJobRequest,
	opts ...option.RequestOption,
) (*chroniclego.CreateBacktestJobResponse, error) {
	response, err := c.WithRawResponse.CreateBacktestJob(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.GetBacktestJobRequest{
//	    JobID: "job_id",
//	}
//	client.Backtests.GetBacktestJob(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetBacktestJob(
	ctx context.Context,
	request *chroniclego.GetBacktestJobRequest,
	opts ...option.RequestOption,
) (*chroniclego.BacktestJobDetailResponse, error) {
	response, err := c.WithRawResponse.GetBacktestJob(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.ListBacktestJobTrialsRequest{
//	    JobID: "job_id",
//	}
//	client.Backtests.ListBacktestJobTrials(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) ListBacktestJobTrials(
	ctx context.Context,
	request *chroniclego.ListBacktestJobTrialsRequest,
	opts ...option.RequestOption,
) (*chroniclego.ListBacktestJobTrialsResponse, error) {
	response, err := c.WithRawResponse.ListBacktestJobTrials(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.GetBacktestTrialRequest{
//	    JobID: "job_id",
//	    TrialID: "trial_id",
//	}
//	client.Backtests.GetBacktestTrial(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetBacktestTrial(
	ctx context.Context,
	request *chroniclego.GetBacktestTrialRequest,
	opts ...option.RequestOption,
) (*chroniclego.BacktestTrialDetailResponse, error) {
	response, err := c.WithRawResponse.GetBacktestTrial(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.CancelBacktestJobRequest{
//	    JobID: "job_id",
//	}
//	client.Backtests.CancelBacktestJob(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CancelBacktestJob(
	ctx context.Context,
	request *chroniclego.CancelBacktestJobRequest,
	opts ...option.RequestOption,
) (*chroniclego.CancelBacktestJobResponse, error) {
	response, err := c.WithRawResponse.CancelBacktestJob(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.StreamBacktestJobEventsRequest{
//	    JobID: "job_id",
//	}
//	client.Backtests.StreamBacktestJobEvents(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) StreamBacktestJobEvents(
	ctx context.Context,
	request *chroniclego.StreamBacktestJobEventsRequest,
	opts ...option.RequestOption,
) (*core.Stream[chroniclego.TrialEvent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.chroniclelabs.ai",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/v1/backtests/jobs/%v/stream",
		request.JobID,
	)
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Accept", "text/event-stream")
	streamer := internal.NewStreamer[chroniclego.TrialEvent](c.caller)
	return streamer.Stream(
		ctx,
		&internal.StreamParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			MaxBufSize:      options.MaxBufSize,
			Prefix:          internal.DefaultSSEDataPrefix,
			Terminator:      internal.DefaultSSETerminator,
			Format:          core.StreamFormatSSE,
			ErrorDecoder:    internal.NewErrorDecoder(chroniclego.ErrorCodes),
		},
	)
}
