// Code generated by Fern. DO NOT EDIT.

package agents

import (
	context "context"
	http "net/http"

	chroniclego "github.com/chronicle-labs-ai/chronicle-go"
	core "github.com/chronicle-labs-ai/chronicle-go/core"
	internal "github.com/chronicle-labs-ai/chronicle-go/internal"
	option "github.com/chronicle-labs-ai/chronicle-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	client.Agents.ListAgents(
//	    context.TODO(),
//	)
func (c *Client) ListAgents(
	ctx context.Context,
	opts ...option.RequestOption,
) ([]*chroniclego.AgentSummary, error) {
	response, err := c.WithRawResponse.ListAgents(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.SearchAgentHashIndexRequest{}
//	client.Agents.SearchAgentHashIndex(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) SearchAgentHashIndex(
	ctx context.Context,
	request *chroniclego.SearchAgentHashIndexRequest,
	opts ...option.RequestOption,
) ([]*chroniclego.HashIndexEntry, error) {
	response, err := c.WithRawResponse.SearchAgentHashIndex(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	client.Agents.SubscribeToAgentChanges(
//	    context.TODO(),
//	)
func (c *Client) SubscribeToAgentChanges(
	ctx context.Context,
	opts ...option.RequestOption,
) (*core.Stream[map[string]any], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.chroniclelabs.ai",
	)
	endpointURL := baseURL + "/v1/agents/subscribe"
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Accept", "text/event-stream")
	streamer := internal.NewStreamer[map[string]any](c.caller)
	return streamer.Stream(
		ctx,
		&internal.StreamParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			MaxBufSize:      options.MaxBufSize,
			Prefix:          internal.DefaultSSEDataPrefix,
			Terminator:      internal.DefaultSSETerminator,
			Format:          core.StreamFormatSSE,
			ErrorDecoder:    internal.NewErrorDecoder(chroniclego.ErrorCodes),
		},
	)
}

// Example:
//
//	request := &chroniclego.UpdateAgentRequest{
//	    Name: "name",
//	}
//	client.Agents.UpdateAgent(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) UpdateAgent(
	ctx context.Context,
	request *chroniclego.UpdateAgentRequest,
	opts ...option.RequestOption,
) (*chroniclego.AgentSummary, error) {
	response, err := c.WithRawResponse.UpdateAgent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.GetAgentSnapshotRequest{
//	    Name: "name",
//	}
//	client.Agents.GetAgentSnapshot(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetAgentSnapshot(
	ctx context.Context,
	request *chroniclego.GetAgentSnapshotRequest,
	opts ...option.RequestOption,
) (*chroniclego.AgentSnapshot, error) {
	response, err := c.WithRawResponse.GetAgentSnapshot(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.PinLatestAgentVersionRequest{
//	    Name: "name",
//	}
//	client.Agents.PinLatestAgentVersion(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) PinLatestAgentVersion(
	ctx context.Context,
	request *chroniclego.PinLatestAgentVersionRequest,
	opts ...option.RequestOption,
) (*chroniclego.AgentSummary, error) {
	response, err := c.WithRawResponse.PinLatestAgentVersion(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.CreateAgentChatSessionRequest{
//	    Name: "name",
//	}
//	client.Agents.CreateAgentChatSession(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) CreateAgentChatSession(
	ctx context.Context,
	request *chroniclego.CreateAgentChatSessionRequest,
	opts ...option.RequestOption,
) (*chroniclego.CreateAgentChatSessionResponse, error) {
	response, err := c.WithRawResponse.CreateAgentChatSession(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.GetAgentChatSessionRequest{
//	    Name: "name",
//	    SessionID: "session_id",
//	}
//	client.Agents.GetAgentChatSession(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) GetAgentChatSession(
	ctx context.Context,
	request *chroniclego.GetAgentChatSessionRequest,
	opts ...option.RequestOption,
) (*chroniclego.AgentChatSession, error) {
	response, err := c.WithRawResponse.GetAgentChatSession(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Example:
//
//	request := &chroniclego.SendAgentChatMessageRequest{
//	    Name: "name",
//	    SessionID: "session_id",
//	    Text: "text",
//	}
//	client.Agents.SendAgentChatMessage(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) SendAgentChatMessage(
	ctx context.Context,
	request *chroniclego.SendAgentChatMessageRequest,
	opts ...option.RequestOption,
) (*chroniclego.SendAgentChatMessageResponse, error) {
	response, err := c.WithRawResponse.SendAgentChatMessage(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Requires scope agents:write.
//
// Example:
//
//	request := &chroniclego.RegisterAgentArtifactRequest{
//	    Artifact: &chroniclego.RegisterAgentArtifactRequestArtifact{
//	        ArtifactID: "artifactId",
//	        ConfigHash: "configHash",
//	        Framework: chroniclego.RegisterAgentArtifactRequestArtifactFrameworkVercelAiSdk,
//	        Model: &chroniclego.RegisterAgentArtifactRequestArtifactModel{
//	            Label: "label",
//	        },
//	        Name: "name",
//	        Provenance: &chroniclego.RegisterAgentArtifactRequestArtifactProvenance{
//	            CreatedAt: chroniclego.MustParseDateTime(
//	                "2024-01-15T09:30:00Z",
//	            ),
//	        },
//	        SchemaVersion: "schemaVersion",
//	        Tools: []*chroniclego.RegisterAgentArtifactRequestArtifactToolsItem{
//	            &chroniclego.RegisterAgentArtifactRequestArtifactToolsItem{
//	                Name: "name",
//	            },
//	        },
//	        Version: "version",
//	    },
//	}
//	client.Agents.RegisterAgentArtifact(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) RegisterAgentArtifact(
	ctx context.Context,
	request *chroniclego.RegisterAgentArtifactRequest,
	opts ...option.RequestOption,
) (*chroniclego.AgentVersionSummary, error) {
	response, err := c.WithRawResponse.RegisterAgentArtifact(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Requires scope agents:write.
//
// Example:
//
//	request := &chroniclego.RecordAgentRunsRequest{
//	    Runs: []*chroniclego.RecordAgentRunsRequestRunsItem{
//	        &chroniclego.RecordAgentRunsRequestRunsItem{
//	            ArtifactID: "artifactId",
//	            ConfigHash: "configHash",
//	            Operation: chroniclego.RecordAgentRunsRequestRunsItemOperationGenerate,
//	            RunID: "runId",
//	            SchemaVersion: "schemaVersion",
//	            StartedAt: chroniclego.MustParseDateTime(
//	                "2024-01-15T09:30:00Z",
//	            ),
//	            Status: chroniclego.RecordAgentRunsRequestRunsItemStatusStarted,
//	            ToolCalls: []*chroniclego.RecordAgentRunsRequestRunsItemToolCallsItem{
//	                &chroniclego.RecordAgentRunsRequestRunsItemToolCallsItem{
//	                    CallID: "callId",
//	                    StartedAt: chroniclego.MustParseDateTime(
//	                        "2024-01-15T09:30:00Z",
//	                    ),
//	                    Status: chroniclego.RecordAgentRunsRequestRunsItemToolCallsItemStatusStarted,
//	                    ToolName: "toolName",
//	                },
//	            },
//	        },
//	    },
//	}
//	client.Agents.RecordAgentRuns(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) RecordAgentRuns(
	ctx context.Context,
	request *chroniclego.RecordAgentRunsRequest,
	opts ...option.RequestOption,
) (*chroniclego.RecordAgentRunsResponse, error) {
	response, err := c.WithRawResponse.RecordAgentRuns(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
