// Code generated by Fern. DO NOT EDIT.

package events

import (
	context "context"
	http "net/http"

	chroniclego "github.com/chronicle-labs-ai/chronicle-go"
	core "github.com/chronicle-labs-ai/chronicle-go/core"
	internal "github.com/chronicle-labs-ai/chronicle-go/internal"
	option "github.com/chronicle-labs-ai/chronicle-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Requires scope events:read or events:write. Results are scoped to the tenant of the API key and ordered newest first by event time and event ID. Pass the opaque `next_cursor` as `cursor` to continue without an offset scan.
//
// Example:
//
//	request := &chroniclego.QueryEventsRequest{}
//	client.Events.QueryEvents(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) QueryEvents(
	ctx context.Context,
	request *chroniclego.QueryEventsRequest,
	opts ...option.RequestOption,
) (*chroniclego.EventListResponse, error) {
	response, err := c.WithRawResponse.QueryEvents(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Requires scope events:write.
//
// Example:
//
//	request := &chroniclego.IngestRequest{
//	    Source: "my-agent",
//	    Topic: "conversations",
//	    EventType: "message.sent",
//	}
//	client.Events.IngestEvent(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) IngestEvent(
	ctx context.Context,
	request *chroniclego.IngestRequest,
	opts ...option.RequestOption,
) (*chroniclego.IngestResponse, error) {
	response, err := c.WithRawResponse.IngestEvent(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Requires scope events:write. Maximum 1000 events per batch; larger batches are rejected with 422. Request bodies over the size limit are rejected with 413. Each request consumes 10 rate-limit units.
//
// Example:
//
//	request := []*chroniclego.IngestRequest{
//	    &chroniclego.IngestRequest{
//	        Source: "my-agent",
//	        Topic: "conversations",
//	        EventType: "message.sent",
//	    },
//	}
//	client.Events.IngestEventBatch(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) IngestEventBatch(
	ctx context.Context,
	request []*chroniclego.IngestRequest,
	opts ...option.RequestOption,
) (*chroniclego.IngestResponse, error) {
	response, err := c.WithRawResponse.IngestEventBatch(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Requires scope events:read or events:write. A Server-Sent Events stream of events matching the optional filters, held open indefinitely.
//
// Opening a stream consumes 5 rate-limit units.
//
// Each message has `event: event` and a `data` field carrying one EventResult as JSON. A comment line arrives every 15 seconds so intermediaries do not close an idle connection.
//
// Every message carries an opaque, stream-specific `id` backed by a monotonic per-tenant delivery sequence. It records ingestion order, independently of the source event's `event_time`. Record the last id you processed and do not parse or construct it.
//
// When `Last-Event-ID` is present, the server first establishes the live subscription, replays matching stored events strictly after that position in ascending order, and then continues with live delivery. Events committed at the history-to-live boundary may be delivered more than once, so consumers should deduplicate by `event_id`. This provides at-least-once delivery across a reconnect without leaving a gap.
//
// Replay is limited to 1000 matching events. An older position returns 409 before the stream opens. Slow consumers are disconnected when the bounded live buffer fills and should reconnect with their last processed id. Concurrent streams are limited per tenant and may return 429 with `Retry-After`.
//
// Example:
//
//	request := &chroniclego.StreamEventsRequest{}
//	client.Events.StreamEvents(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) StreamEvents(
	ctx context.Context,
	request *chroniclego.StreamEventsRequest,
	opts ...option.RequestOption,
) (*core.Stream[chroniclego.EventResult], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.chroniclelabs.ai",
	)
	endpointURL := baseURL + "/v1/events/stream"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	if request.LastEventID != nil {
		headers.Add("Last-Event-ID", *request.LastEventID)
	}
	headers.Add("Accept", "text/event-stream")
	streamer := internal.NewStreamer[chroniclego.EventResult](c.caller)
	return streamer.Stream(
		ctx,
		&internal.StreamParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			MaxBufSize:      options.MaxBufSize,
			Prefix:          internal.DefaultSSEDataPrefix,
			Terminator:      internal.DefaultSSETerminator,
			Format:          core.StreamFormatSSE,
			ErrorDecoder:    internal.NewErrorDecoder(chroniclego.ErrorCodes),
		},
	)
}
